body {
  font-family: Arial;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-item {
    display: block;
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}